.Spinner {
    width: 150px;
    height: 150px;
    
    position: absolute;
    top: 0px;
    left: 0px;

    color: #7b39ed;

    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.250, 1);
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: translate(calc(50vh - 50%), calc(50vh - 50%)) rotate(0deg);
    }
    100% {
        transform: translate(calc(50vh - 50%), calc(50vh - 50%)) rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        transform: translate(calc(50vh - 50%), calc(50vh - 50%)) rotate(0deg);
    }
    100% {
        transform: translate(calc(50vh - 50%), calc(50vh - 50%)) rotate(360deg);
    }
}