.Header {
    width: 100%;
    height: 5rem;
    justify-content: right;
    display: flex;
}


.NavigationButton {
    font-size: 23px;
    font: Heebo;
    font-weight: 500;
    color: #000;
    margin: auto 20px auto 0;
    cursor: pointer;
}

.HamburgerMenu {
    display: none;
    margin: auto 20px auto 0;
}

.HamburgerMenu svg {
    display:unset;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #21243D;
}

@media screen and (max-width: 480px) {
    .HideWhenSmall {
        display: none;
    }
    .HamburgerMenu {
        display: unset;
    }
}

a {
    text-decoration: none;
}

.Primary {
    color: #FF6464;
}