.Card {
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    min-height: 200px;
    margin: 20px auto 20px auto ;
    display: flex;
}
.Username {
    font-size: 23px;
    font-weight: 500;
    color:#21243D;
}

.ProfilePicture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px;
}

.Substance {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px 20px 0;
    word-break: break-word;
}

.Text {
    font-size: 20px;
}