.Card {
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    min-height: 200px;
    margin: 20px auto 20px auto ;

}
.Title {
    line-height: 5rem;
    font-size: 3rem;
    color:#282c34;
}